@font-face {
  font-family: 'HelveticaNeueLt';
  src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.otf');
}

@font-face {
  font-family: 'HelveticaNeueIt';
  src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Italic.otf');
}

@font-face {
  font-family: 'HelveticaNeueThIt';
  src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-ThinItalic.otf');
}

@font-face {
  font-family: 'HelveticaNeueTh';
  src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Thin.otf');
}

@font-face {
  font-family: 'HelveticaNeueMd';
  src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.otf');
}

@font-face {
  font-family: 'TextCondProTh';
  src: url('../fonts/PdfInTextCondPro/pfdintextcondpro-thin.ttf');
}
