@import "vars"

/*==========  Desktop First  ==========*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px)
	.top-line__left,
	.top-line__right
		justify-content: center
	.top-line__right
		justify-content: space-between
	.heart-wrap:after,
	.bag-wrap:after,
		display: none
	.top-line__left
		.span
			&:after
				display: none
// Small devices (landscape phones, less than 768px)
@media (max-width: 767px)
	.left-text-wrap,
	.right-text-wrap
		display: none
	.top-line__left .greeting,
	.top-line__right .greeting
		font-size: 11px
	.heart-wrap
		margin-right: 22px
	.heart-wrap:after
		right: -10px

// Medium devices (tablets, less than 992px)
@media (max-width: 991px)
	.header-info__text
		font-size: 10px
	.page-header__logo
		max-width: 325px
		height: auto
		padding: 0 50px
		margin: 0 auto
	.nav__item
		margin-left: 25px
	.nav__link
		letter-spacing: 1px
// Large devices (desktops, less than 1200px)
@media (max-width: 1199px)
	.nav__list
		margin-top: 33px
	.nav__link
		font-size: 10px

